@reference "./index.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.1rem;
  border-bottom: 1px solid var(--pink2);

  background-color: var(--pink1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0.5px 5px var(--shadow);

  @media (min-width: 1024px) {
    padding: 1.5rem;
    padding-inline: 2rem;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  @media (min-width: 1024px) {
    padding: 6rem;
    padding-inline: 16rem;
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 1024px) {
    padding-inline: 10rem;
  }
}

.searchBar {
  background-color: var(--purple1);
  border: 1px solid var(--purple3);
  border-radius: 19px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 0.5rem;
  padding-inline: 1rem;
  width: 100%;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 1rem;

  input {
    &::placeholder {
      color: var(--purple2);
    }
  }
}

.searchBar:focus-within {
  box-shadow:
    0 0 0 1px var(--purple3),
    0 1px 5px var(--shadow2);
}

.subjectCard {
  background-color: var(--purple1);
  border: 1px solid var(--purple3);
  border-radius: 24px;
  box-sizing: border-box;
  padding: 2.5rem;
  width: 100%;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow:
      0 0 0 1px var(--purple3),
      0 2px 9px var(--shadow2);
  }
}

.category {
  background-color: var(--pink1);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0.2rem;
  padding-inline: 0.8rem;
  box-shadow: 0 1px 5px var(--shadow);
  align-self: flex-start;
  border: 1px solid var(--pink3);

  &:hover {
    cursor: pointer;
    box-shadow:
      0 0 0 1px var(--pink3),
      0 1px 5px var(--shadow2);
  }

  &.active {
    cursor: pointer;
    box-shadow:
      0 0 0 1px var(--pink3),
      0 1px 5px var(--shadow2);
  }
}

.buttonBig {
  background-color: var(--purple1);
  border: 1px solid var(--purple3);
  border-radius: 28px;
  box-shadow: 0 1px 5px var(--shadow);
  box-sizing: border-box;
  padding:  1.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow:
      0 0 0 1px var(--purple3),
      0 2px 9px var(--shadow2);
  }
}

.backButton {
  display: flex;
  flex-direction: column;
  align-items: right;
  color: var(--text2);

  &:hover {
    cursor: pointer;
    color: var(--text);
  }
}

.container {
  background-color: var(--green0);
  border: 1px solid var(--green3);
  border-radius: 55px;
  box-sizing: border-box;
  padding: 4rem;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.noteContainer {
  background-color: var(--green0);
  border: 1px solid var(--green3);
  border-radius: 55px;
  box-sizing: border-box;
  padding: 4rem;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow:
      0 0 0 1px var(--green3),
      0 2px 9px var(--shadow2);
  }
}

.container2 {
  background-color: var(--yellow1);
  border: 1px solid var(--yellow3);
  border-radius: 45px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 1.75rem;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: 1024px) {
    flex: 1 1 (calc(33.333% - 2rem));
  }
}

.teamMembers > div {
  flex: 1 1 100%;
  max-width: 500px;
}

/* search bar */
input {
  color: var(--text);
}

input::placeholder {
}

/* search bar (when clicked) */
input:focus {
  outline: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.home > * { /* "< *" targets the child */
  flex: 0 0 calc(25%-1rem);

  @media(min-width: 1024px) { /* i don't think this is working */
    flex: 0 0 (calc(25% - 1rem));
  }
}

.footer {
  padding: 2rem;
  border-top: 1.5px solid var(--green2);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}